{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<img src="{{ asset('image/header.jpg')}}" alt="header">
		<h1>
			<a href="{{ path('monblog_home') }}">Bienvenue sur MonBlog !</a>
		</h1>
		<nav>
		{% if is_granted('ROLE_USER') %}
		
			<p>Bonjour {{ app.user.prenom }}</p>
			
			<a href="{{ path('app_logout') }}">Se deconnecter</a>

		{% else %}

		
			<p>
				<a href="{{ path('app_login') }}">Se connecter</a>
			</p>

			<p>
				<a href="{{ path('app_register') }}">Creer un compte</a>
			</p>
		{% endif %}
		</nav>
	</header>

	<main>
		{% block content %}
			{# c'est la que viendra s'inserer le contenu affichable propre à chaque template de notre projet#}
		{% endblock %}
	</main>

	<footer>
		<img src="{{ asset('image/footer.jpg')}}" alt="footer">
		<nav class="row">
        
			<div class="col-sm-12 col-md-6 col-lg-3">
				<p><a href="{{ path('monblog_quisommesnous') }}">- Qui sommes-nous ?</a></p>
				<p><a href="{{ path('monblog_cgv') }}">- CGV</a></p>
				<p><a href="{{ path('monblog_contact') }}">- Nous contacter</a></p>
			</div>
            <div class="col-sm-12 col-md-6 col-lg-3">
				<p><a href="{{ path('monblog_values') }}">- Nos valeurs</a></p>
				<p><a href="{{ path('monblog_becomebloggeur') }}">- Devenir blogeur</a></p>
				<p><a href="{{ path('monblog_jointeam') }}">- Rejoindre l'equipe</a></p>
			</div>
        </nav>

        <div class="copyright">
            <p> DreamFlake 2003-{{ "now" | date("Y")}} all right reserved for all countries including Groland</p>
        </div>
	</footer>
		{% endblock %}
